<body background="bgimage.jpg">

    <table class="table" width="100%">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    &emsp;&emsp;&emsp;&emsp;&emsp;
                    &emsp;&emsp;&emsp;&emsp;&emsp;
                    <font color="white">Curso</font>
                </th>
                <th>
                    &emsp;&emsp;&emsp;&emsp;&emsp;
                    &emsp;&emsp;&emsp;&emsp;&emsp;
                    <font color="white">Status</font>
                </th>
                <th>
                    &emsp;&emsp;&emsp;&emsp;&emsp;
                    &emsp;&emsp;&emsp;&emsp;&emsp;
                    <font color="white">Data de Conclusão</font>
                </th>
            </tr>
        </thead>
    </table>